 <div id="app">
  <section class="charts">
    <div class="container-fluid">
      <header>
        <h1 class="h3">All Leads</h1>
      </header>
      <div class="row">
        Search here:<input type="text" v-model="searchTerm" list="leads">

      </div>
      <div class="row">
        <div class="table-responsive leads-table">
          <table class="table table-striped table-condensed table-hover" style="border-collapse:collapse;">
           
            <thead>
              <tr>
                <th v-on:click="sortColumns('created_at')">Created</th>
                <th v-on:click="sortColumns('first_name')">First Name</th>
                <th v-on:click="sortColumns('last_name')">Last Name</th>
                <th v-on:click="sortColumns('email')">Email</th>
                <th v-on:click="sortColumns('phone')">Phone</th>
                <th v-on:click="sortColumns('appointment_date')">Appointment Date</th>
                <th>Call Converter Notes</th>
              </tr>
            </thead>
            <tbody v-for="lead in leads" v-if="foundLead(lead)">
              
                <tr data-toggle="collapse" :data-target="'#events' + lead.id" class="accordion-toggle">
                  <td>{{ moment(lead.created_at).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td>{{ lead.first_name }}</td>
                  <td>{{ lead.last_name }}</td>
                  <td><a href="" v-on:click="edit(lead)" >{{ lead.email }}</a></td>
                  <td>{{ lead.phone }}</td>
                  <td>{{ moment(lead.appointment_date).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td>{{ lead.notes }}</td>
                </tr>
                
                  <tr>
                    <td colspan="7" class="hiddenRow">
                      <div class="accordion-body collapse" v-bind:id="'events' + lead.id"> 
                        <table v-for="event in lead.events" class="table">
                          <div>         
                             <tr><td>{{ event.name}}</td>
                             <td>{{ moment(event.created_at).format('dddd MMM Do YYYY, h:mm a') }}</td> </tr>
              
                        </div>
                      </table>
                      </div>

                    </td>
                </tr>


            </tbody>
          </table>
        </div>
      </div>
  </section>
</div>

